---
// import EventCarousel from "../components/EventCarousel.astro";
import Layout from "../layouts/Layout.astro";
// import EventLeaderboard from "../components/EventLeaderboard.tsx";

import { supabase } from "../lib/supabase";

const { data, error } = await supabase
	.from("swims")
	.select("*")
	.order("time", { ascending: true });

if (error) {
	console.error("Error fetching events:", error);
}
---

<Layout>
	<!-- <EventCarousel results={data ?? []} client:load /> -->
	<!-- <EventLeaderboard results={data ?? []} client:load /> -->
	<ul>
		{data && data.map((item) => <li>{item.name}</li>)}
	</ul>
</Layout>
